<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <div class="animationload">
    <div class="loader">Loading...</div>
  </div>
  <%- include ("../partials/nav.ejs") %>

  <section class="post-wrapper-top jt-shadow clearfix">
    <div class="container">
        <div class="col-lg-12">
            <h2>About Us</h2>
            <ul class="breadcrumb pull-right">
                <li><a href="index.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</section><!-- end post-wrapper-top -->

<section class="white-wrapper">
    <div class="container">
        <div class="messagebox">
             
            <p class="lead">
                Everest Aero Services Private Limited (EAS) is a leading and independent specialist in the supply of aircraft 
                spare parts and aviation services, with a wide presence in the global aviation domain. With customer centric
                 approach at its core, all our activities are focused on providing airlines with certified airplane parts when 
                 requirement occurs.
                 <br><br>
                 We also have a good understanding of what it takes for an airliner to fly their airplanes while 
                 maintaining optimum level of spare parts – and that is where we stand out, by maintaining pool of inventories with our 
                 partners worldwide. 
                 <br><br>

                 By establishing mutually beneficial trusted and established partnerships to transform operational efficiency, 
                 EAS utilizes its trusted 
                 nd established vendor supply   chain relationships to assist in cost savings and increasing efficiency for customers.
                 <br><br>
                 EAS is highly regarded for its 24/7/365 and critical response service excellence and has a 
                 dedicated team of sales and service, located worldwide, along with global stock locations.

            </p>
        </div><!-- end messagebox -->
    </div><!-- end container -->
</section><!-- end white-wrapper -->

<section class="white-wrapper jt-shadow">
    <div class="container">
        <div class="calloutbox bggrey">
            <div class="col-lg-10">
            <h2>Vision</h2>
            <p>To establish an ecosystem of “spares worry “ free  aircraft operators!</p>
            </div>

        </div><!-- end messagebox -->

        <div class="calloutbox bggrey">
            <div class="col-lg-10">
            <h2>Mission</h2>
            <p>To grow into an efficient and customer-oriented aviation parts provider, worldwide!</p>
            </div>

        </div><!-- end messagebox -->
    </div><!-- end container -->
</section><!-- end white-wrapper -->


<section class="white-wrapper">
    <div class="container">
        <div class="general-title">
            <h2>Meet Our Team </h2>
            <hr>
            <p class="lead">
                EAS values its team. Right from its inception, 
                we are together and growing! Feel free to reach   out to any of us! We are a small team but we get the job done!
            </p>
        </div><!-- end general title -->
        
        <div class="padding-top text-center">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 first">
                <div class="team_member">
                    <div class="entry">
                        <img class="img-responsive" src="demos/01_team.png" alt="">
                        <div class="magnifier">
                            <div class="buttons">
                                <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                <a class="sf" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                            </div>
                        </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3>Jessica Motra <span>|</span> <small>Web Designer</small></h3>
                    <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
                </div><!-- end team_member -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="team_member">
                    <div class="entry">
                        <img class="img-responsive" src="demos/02_team.png" alt="">
                        <div class="magnifier">
                            <div class="buttons">
                                <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                            </div>
                        </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3>Luke Backer <span>|</span> <small>Web Designer</small></h3>
                    <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p> 
                </div><!-- end team_member -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="team_member">
                    <div class="entry">
                        <img class="img-responsive" src="demos/03_team.png" alt="">
                        <div class="magnifier">
                            <div class="buttons">
                                <a class="sf" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                            </div>
                        </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3>John DEO <span>|</span> <small>Web Designer</small></h3>
                    <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
                </div><!-- end team_member -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 last">
                <div class="team_member">
                    <div class="entry">
                        <img class="img-responsive" src="demos/04_team.png" alt="">
                        <div class="magnifier">
                            <div class="buttons">
                                <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                            </div>
                        </div><!-- end magnifier -->
                    </div><!-- end entry -->
                    <h3>Adam DEO  <span>|</span> <small>Web Designer</small></h3>
                    <p>Cras dapibus. Vivamus elementum semper  Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae</p>
                </div><!-- end team_member -->
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->   
    </div><!-- end container -->
</section><!-- end white wrapper -->



  <%- include ("../partials/footer.ejs") %>
</body>
</html>
